.services {
  margin-bottom: 100px;
  display: flex;
  height: 630px;
  position: relative;
  margin-top: 100px;
  h2 {
    transform: rotate(-90deg);
    width: 50px;
    position: absolute;
    bottom: 80px;
  }
  &__info {
    margin: 157px 0 0 150px;
    flex-direction: column;
    .slick-track {
      display: flex;
      flex-direction: column;
    }
  }
  &__slider {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    max-width: 900px;
    img {
      position: absolute;
      top: 30px;
      left: 50px;
      height: 350px;
    }
    .blur {
      top: 0px;
      left: 0;
    }
  }
  .title {
    padding-top: 400px;
  }
  .text {
    // padding-top: 200px;
  }
  .slick-slide {
    h4 {
      display: block;
      padding: 10px 20px;
      margin: 20px 0;
      width: 220px;
      cursor: pointer;
      border-radius: 10px;
    }
  }
  .slick-current h4 {
    background: $red;
  }
}
