.checkbox{
  visibility: hidden;
}
.checkbox-group{
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: #1b1b1b;
  box-shadow: inset 0px 1px 1px rgba($color: #000000, $alpha: .5), 0px 1px 2px rgba(255, 255, 255, .3);
  transition: all .3s;
  &::after{
    content: '';
    position: absolute;
    top: 9px;
    left: 9px;
    height: 2px;
    width: 32px;
    background-color: #111;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba($color: #000000, $alpha: .5), 0px 1px 2px rgba(255, 255, 255, .2);
  }
}
.checkbox-label{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #2B2B2D;
  top: -4px;
  left: -4px;
  z-index: 1;
  box-shadow: inset 0px 1px 4px rgba($color: #000000, $alpha: .5), -4px 3px 6px 4px rgba(0, 0, 0, .3);
  transition: all .5s;
  cursor: pointer;
  transition: all .3s;
}
.checkbox:checked + .checkbox-label{
left: 25px;
}