@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "light";
@import "theambtn";
@import "card";

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
  }
  &__action {
    position: relative;
    padding-right: 50px;
    &::after {
      content: "";
      position: absolute;
      top: -4px;
      right: 0;
      background-image: url(../images/polygon.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 30px;
      height: 33px;
    }
  }
  &__menu ul {
    display: flex;
    a {
    }
    li {
      margin-left: 40px;
      font-weight: 600;
      opacity: 0.4;
      text-shadow: -10px -6px 4px rgba(0, 0, 0, 1);
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.logo img {
  max-width: 200px;
  // height: 42px;
  margin-right: 50px;
}

.offer{
  margin-top: 10%;
  height: 80vh;
  &__info{
    width: 60%;
    p{
      max-width: 600px;
      padding-left: 22px;
      position: relative;
      margin-bottom: 26px;
      &::before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
    img{
    position: absolute;
    top: 0;
    right: 5%;
    max-width: 70%;
  }
}

.price{
  &__card{
    svg{
      fill: #fff;
      width: 100px;
    }
  }
}

@import "media";